.App {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 244, 237);
  height: 100%;
  width: 100vw;
}

#icon {
  border-radius: 15px;
}

.app-header {
  position: absolute;
  top: 0px;
  height: 8.89%;
  width: 100vw;
  background-color: transparent;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.header-buttons-con {
  position: absolute;
  display: flex;
  right: 0px;
  gap: 15px;
  margin-right: 70px;
  z-index: 10;
}

.header-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.get-started {
  background-color: black;
  border-radius: 16px;
  padding: 8px 16px;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
}

.header-logo {
  height: 60px;
  margin-left: 70px;
  transform: scale(1);
  background-size: contain;
}

/* Hero Section */
.hero-section {
  position: relative;
  margin: 0px;
  padding-top: 80px;
  background-color: transparent;
  height: 500px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 80px;
  text-align: left;
}

h2 {
  font-size: 120px;
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  margin: none;
  padding: none;
}

.hero-section h3 {
  position: relative;
  bottom: 115px;
  margin-top: 50px;
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

.start-reading-btn {
  position: relative;
  bottom: 110px;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 18px;
  font-weight: bolder;
  font-size: medium;
  margin-top: 20px;
  border: none;
}

.img-container {
  position: absolute;
  right: 0px;
  height: 523px;
  width: 500px;
  background-size: cover;
  background-image: url("./media/pictures/home-img.png");
  background-position: center -20px;
  margin-bottom: 22px;
}

/* Footer */
.app-footer {
  height: 60px;
  gap: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.footer-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

/* About Page */

.About {
  background: #242424;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.about-header {
  background-color: #242424;
  color: #ffffff;
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 0px;
  border-bottom: 2px solid white;
}

.btn-container {
  position: absolute;
  right: 0px;
  width: fit-content;
  padding-right: 30px;
}

#signup-btn,
#login-btn {
  cursor: pointer;
  margin-right: 15px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  padding: 8px 16px;
  color: white;
}

#signup-btn {
  background-color: #e0dada;
  margin: 0 0 0 0;
  color: black;
}

#signup-btn:hover {
  background-color: #ffffff;
}

.about-body {
  position: relative;
  margin-top: 160px;
}

.about-body-text {
  margin-left: 30px;
  width: 50%;
  text-align: left;
  padding-bottom: 80px;
}

#about-everyone {
  color: #ffffff;
  font-size: 4.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.about-para {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.para-ultimately {
  background-color: rgb(80 80 80);
  font-size: 1.3rem;
  font-weight: 600;
  display: inline;
  padding: 4px 0px;
  line-height: 1.8;
  color: #ffffff;
}

.about-options {
  width: 100%;
  height: fit-content;
}

.divOne,
.divTwo,
.divThree {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 70px 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  transition: background-color 1s ease, color 0.5s ease;
}

.divTwo,
.divThree {
  border-bottom: 2px solid white;
}

.divThree:hover {
  border-bottom: 1px solid #242424;
}

.divOne:hover,
.divTwo:hover,
.divThree:hover {
  background-color: #ffffff;
}

.divOne:hover #optionOne,
.divTwo:hover #optionTwo,
.divThree:hover #optionThree {
  color: #242424;
}

.divOne:hover .faIcon,
.divTwo:hover .faIcon,
.divThree:hover .faIcon {
  color: #242424;
}

#optionOne,
#optionTwo,
#optionThree {
  border-bottom: 2px solid white;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  width: 100%;
  text-decoration: none;
  font-size: 5rem;
  border-bottom: none;
  display: block;
  height: 100%;
  width: 100%;
}

.faIcon {
  padding-right: 25px;
  color: #ffffff;
  font-size: 2rem;
}

.about-footer {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  padding: 10px 0px 10px 0px;
}

.footer-btn {
  margin-right: 7px;
  color: inherit;
  font-size: 0.8rem;
}
/* Career Page */
/* Career Page */

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.career-body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}
.career-header {
  position: relative;
  top: 0px;
  display: flex;
  padding: 5px 20px;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
}

.career-logo {
  margin-left: 0px;
  height: 40px;
}

.search-container {
  position: relative;
  margin-left: 15px;
}

.search-input {
  border-radius: 40px;
  padding: 10px 35px;
  background-color: #f9f9f9;
  border: none;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #7e7e7e;
}

.header-right {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-icon {
  position: relative;
  font-size: 200%;
}

.signup-btn {
  color: #ffffff;
  background-color: #2a8636;
  border-radius: 16px;
  padding: 8px 16px;
  border: none;
}

.signin-btn {
  border: none;
  background-color: transparent;
}
/* End on Career Header */

/* Career Body */

.career-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.career-content {
  display: flex;
  flex-direction: column;
  padding: 0px 300px;
}
#main-text {
  display: flex;
  flex-direction: column;
}
.career-content h2 {
  font-size: 4rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

#p1 {
  color: rgb(118, 118, 118);
  font-size: 1.7rem;
  font-weight: 400;
  margin: 20px 0px;
}

.career-jobs {
  display: flex;
  align-items: center;
}

#jobs-text {
  display: flex;
  flex-direction: column;
}

.profile-img {
  display: inline;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-logo {
  display: flex;
}

.second-profile-img img,
.circle-image img {
  display: inline;
  width: 50%;
  height: auto;
  object-fit: auto;
}

.second-profile-img {
  width: 22px;
  height: 22px;
  position: relative;
  top: 21px;
  right: 12px;
  border: 2px solid #ffffff;
}

#jobs-upperline {
  display: flex;
  padding: 0px;
}

.jobs-btn,
#follow-btn {
  background-color: transparent;
  font-size: medium;
  font-weight: 400;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.jobs-btn:hover {
  text-decoration: underline;
}

#follow-btn {
  color: rgb(42, 170, 54);
}

#follow-btn:hover {
  color: rgb(42, 100, 54);
}

.career-jobs span {
  margin: 0px 5px;
  align-self: center;
}

.icons {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#group-one {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

#group-two {
  display: flex;
  gap: 35px;
  cursor: pointer;
}

#group-one span {
  color: rgb(163, 160, 160);
}

.job-icon {
  font-size: 1.3rem;
  color: rgb(218, 218, 218);
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltip-container .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

#pa {
  font-size: 1.5rem;
  font-weight: 400;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

#pb {
  color: rgb(70, 66, 66);
  font-size: 1.5rem;
  font-weight: 400;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#pc {
  color: rgb(70, 66, 66);
  font-size: 1.5rem;
  font-weight: 400;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

.link {
  text-decoration: underline;
  color: #242424;
  cursor: pointer;
}

.ba {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-size: 1.2rem;
  text-decoration-thickness: 2px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-bottom: 50px;
  font-weight: 400;
  color: rgb(65, 64, 64);
}

.dots {
  display: flex;
  gap: 22px;
  font-size: 2rem;
  align-self: center;
}

#pd {
  display: flex;
  flex-direction: column;
  width: inherit;
}

#pd p {
  color: rgb(70, 66, 66);
  font-size: 1.5rem;
  font-weight: 400;
  min-width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.pd-ha {
  font-size: 1.7rem;
  font-weight: 700;
}

.pd-hr {
  font-size: 1.5rem;
}

#pictures-container {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 30px;
}

#upper-con {
  justify-content: center;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

#lower-con {
  justify-content: center;
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.thrid-grp,
.second-grp {
  width: 100%;
  height: 400px;
  object-fit: auto;
}

.thrid-grp {
  width: 50%;
}

.para-e {
  color: rgb(70, 66, 66);
  font-size: 1.5rem;
  font-weight: 400;
  min-width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#second-img-con {
  max-width: fit-content;
  margin: 20px 0px;
}

#second-img {
  height: 800px;
  width: auto;
  align-self: center;
  object-fit: cover;
}

.career-content-pi {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.head {
  position: relative;
  display: flex;
  align-self: flex-start;
}
#box {
  border: 1px solid rgb(242, 242, 242);
  display: flex;
  align-items: center;
  width: 100%;
  align-self: center;
  justify-content: space-between;
  padding-left: 20px;
}

#box-text h3 {
  margin: 5px;
  color: #242424;
}

#box-text p {
  margin: 5px;
  color: #6b6b6b;
}

#post-box-btn {
  padding: 20px 0px;
  display: flex;
  gap: 15px;
  border: 15pc;
}

#post-box-btn button {
  border-radius: 15px;
  border: none;
  padding: 8px 16px;
}

.second-icons {
  border: none;
}

#dynamic-cards-con {
  width: 100%;
  height: fit-content;
  background-color: rgb(249, 249, 249);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-con-content {
  width: 54%;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#card-profile-img-second {
  background-color: black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.profile-second-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  top: 35px;
  right: 9px;
}

#profile-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(230, 230, 230);
  width: 100%;
  padding-bottom: 20px;
}

#profile-text button{
  border: none;
  background-color: transparent;
  color: rgb(36, 46, 49);
  cursor: pointer;
}

#profile-text span{
  color: #343636;
  font-size: 0.9rem;
}

#text-btn-con{
  display: flex;
  align-items: center;
  gap: 13px;
}

#text-btn-con button{
  cursor: pointer;
  background-color: #2a8636;
  padding: 10px 20px;
  border-radius: 18px;
  color: #ffffff;
}

#text-btn-con-icon{
  color: #ffffff;
  padding: 10px;
  background-color: #2a8636;
  border-radius: 50%;
}

.card-profile-img {
  width: 22px;
  height: 22px;
  position: relative;
  
}

#profile-job{
  display: flex;
  gap: 5px;
}

#profile-text-two-con{ 
  display: flex;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding-bottom: 20px;
}
.sbtn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#re-profile-text-two{
  width: 100%;
}

#re-profile-text-two p{
  margin-left: 5px;
  width: 80%;

}


.text-icons-con{
  display: flex;
  justify-content:space-between ;
  width: 65%;
  align-items: center;
}
.sbtn,
.text-icons{
  display: flex;
  gap: 5px;
  color: #6b6b6b;
  align-items: center;
}

.sicon{
  font-size: 0.9em;
}

.sicon2{
  font-size: 0.9em;
  margin-left: 10px;
}

#bookmark-con{
  font-size: 0.9em;
  color: #6b6b6b;
}

#building-pic{
  height: 100px;
  width: auto;
  align-self: center;
  margin-top: 60px;
}

.two-btns-con{
  display: flex;
  gap: 8px;
  width: 100%;
}

.two-btns-con button{
 background-color: transparent;
 border-radius: 20px;
 padding: 12px 30px;
 border: 0.5px solid black;
 margin-top: 30px;
}
#border{ 
  margin-bottom: 10px;
  border-top: 1px solid rgb(230, 230, 230);
  width: 100%;
}

/* Card */

.card-row-con{
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: space-evenly;
  padding:50px 0px;
}

.card-custom{
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;;
}

.card-img{
  height: 40%;
  width: 100%;
  object-fit: cover;
  

}

.icon-and-text{
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-profile{
  display: block;
  height: 28px;
  width: 28px;
  border-radius: 50%;
}


.card h3,
.card p{
  margin: 5px;
 
}

.card-icons-con{
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-card-icons{
  color: rgb(170 , 170, 170);
  margin-left: 5px;
  font-size: 0.9rem;
  gap: 5px;
  align-items: center;
  display: flex;
  cursor: pointer;
  
}
#set-one-icons{
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.star-icon{
  color: gold;
}

#recommended-heading{
  font-size: 1.7em;
  padding: 30px 0px 0px 17px;
  margin: 0px;
}

.card-row-con-second{
  display: flex;
  align-items: flex-end !important;
  height: fit-content;
  width: 88%;
  position: relative;
  left: 46px;
  border-bottom: 1px solid #e0dada;
  border-top: 1px solid #e0dada;

  justify-content: space-between;
}

.second-left{
  
  display: flex;
  flex-direction: column;
  width: 44%;
  padding: 10px 5px 70px 5px;
  gap: 10px;
}

.multi-imgs{
  display: flex;
  max-width: 90px;
  height: 50px;
  gap: 3px;
  margin-bottom: 6px;
}

.upper-1{
  width: 60%;
  object-fit: cover;
}

.upper-2{
  object-fit: cover;
  width: 25%;
}

.upper-3{
  object-fit: cover;
  width: 15%;
}

.imgs-and-text{
  display: flex;
  align-items:flex-end;
  gap: 15px;
}

.imgs-and-h5 h5{
  margin-top: 15px;
}

.span-text{
  display: flex;
  align-items: center;
  gap: 8px;
  
}

.span-text span{
  color: #6b6b6b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

.dot{
  padding-bottom: 3px;
}

.h5-and-span{
  display: flex;
  flex-direction: column;
  margin: 0px;
  justify-content: center;
}

.h5{
  margin: 5px 0px;
}

#last-btn{
  width: 100%;
  border-top:1px solid rgb(170, 170, 170) ;
}

#recommendations-btn{
  background-color: transparent;
 border-radius: 20px;
 padding: 12px 30px;
 border: 0.5px solid black;
 margin-top: 30px;
 margin-left: 55px;
}